{% extends 'base.html.twig' %}

{% block title %}Reçu de cotisation{% endblock %}

{% block body %}

    {% set genre = cotisation.adherent.sexe == 'FEMME' ? 'Madame' : 'Monsieur' %}

    <div class="container">

        {# Logo et Boutons #}
        <div class="d-flex justify-content-between align-items-center mb-4">

            <div class="logo">
                <img class="mb-3" src="{{ absolute_url(asset('images/home/logo-1.png')) }}" alt="Logo">
            </div>

            <div class="d-flex">
                <a class="btn btn-info me-3" href="{{ path('app_cotisation_index') }}">
                    <i class="fa-solid fa-rotate-left"></i>
                    retour à la liste
                </a>
                <a class="btn btn-warning me-3" href="{{ path('app_cotisation_edit', {'id': cotisation.id}) }}">
                    <i class="fa-solid fa-edit"></i>
                    modifier
                </a>
                {{ include('cotisation/_delete_form.html.twig') }}
            </div>

        </div>

        {# Titre #}
        <h1 class="recu-title text-center text-uppercase fw-bold mb-3">Reçu de cotisation</h1>

        {# Message sur la cotisation #}
        <div class="text-center mt-3 mb-3">

            <p>
                Paiement de la <strong>cotisation</strong> de {{ genre }} {{ cotisation.adherent.nom }}
                {{ cotisation.adherent.prenom }} pour la date de
                <strong>{{ cotisation.dateCotisation|format_date("full", pattern = "MMMM Y", locale = 'fr') }}</strong>
                par <strong>{{ cotisation.user.adherent.nom }} {{ cotisation.user.adherent.prenom }}</strong> le
                {{ cotisation.createdAt|format_datetime('full', 'none', locale='fr') }}.<br/>
                Le montant de la cotisation est de <strong>{{ cotisation.montantCotisation }} FCFA</strong>.
            </p>

            <p>
                Par conséquent, {{ genre }} {{ cotisation.adherent.nom }} {{ cotisation.adherent.prenom }}
                est à jour pour la date de
                {{ cotisation.dateCotisation|format_date("full", pattern = "MMMM Y", locale = 'fr') }}.
            </p>

        </div>

        {# Date et Cachet #}
        <div class="text-center mb-4">
            <span class="mx-5">Fait le {{ cotisation.createdAt|format_datetime('full', 'none', locale='fr') }}</span>
            <img class="img-fluid mx-5" src="{{ absolute_url(asset('pdf/cotisations/cachet.png')) }}" alt="cachet" height="150" width="150">
        </div>

        {# Information caisse et adhérent #}
        <div class="d-flex justify-content-around">

            <div class="">

                <p class="">
                    <i>Information du prestataire de service</i><br/>
                    <strong>Nom et Prénoms</strong> : {{ genre }} {{ cotisation.user.adherent.nom }} {{ cotisation.user.adherent.prenom }}<br/>
                    <strong>Site</strong> : {{ cotisation.user.adherent.site }}<br/>
                    <strong>Téléphone</strong> : (+225) {{ cotisation.user.adherent.telephone }}<br/>
                    <strong>Email</strong> : {{ cotisation.user.adherent.email }}
                </p>

            </div>

            <div class="">

                <p class="">
                    <i>Information sur l'adhérent</i><br/>
                    <strong>Nom et Prénoms</strong> : {{ cotisation.adherent.nom }} {{ cotisation.adherent.prenom }}<br/>
                    <strong>Site</strong> : {{ cotisation.adherent.site }}<br/>
                    <strong>Téléphone</strong> : (+225) {{ cotisation.adherent.telephone }}<br/>
                    <strong>Email</strong> : {{ cotisation.adherent.email }}
                </p>

            </div>

        </div>

        {# Bouton exporter en pdf #}
        <div class="text-center mt-5">
            <a class="btn btn-success" href="{{ path('app_cotisation_paiement_pdf', {'id': cotisation.id}) }}" target="_blank">
                <i class="fa-solid fa-file-pdf"></i>
                Exporter en PDF
            </a>
        </div>

    </div>

{% endblock %}
