{% extends 'base.html.twig' %}

{% block title %}Liste des adhérents{% endblock %}

{% block body %}

    <div class="container-fluid">
        
        <div class="d-flex justify-content-between align-items-center">

            <div class="">
                <h1 class="mb-4">Liste des adhérents</h1>
            </div>


            <div class="d-flex">

                <a class="btn btn-danger me-3" href="{{ path('app_adherent_download_pdf') }}" target="_blank">
                    <i class="fa-solid fa-download"></i>
                    Exporter la liste
                </a>

                <a class="btn btn-light me-3" href="{{ path('app_adherent_new') }}">
                    <i class="fa-solid fa-filter"></i>
                    filtrer
                </a>

                <a class="btn btn-primary me-3" href="{{ path('app_adherent_new') }}">
                    <i class="fa-solid fa-plus"></i>
                    Inscrire un nouvel adhérent
                </a>

            </div>

        </div>

        <table class="table table-bordered table-striped text-center table-sm table-responsive align-middle">
            <thead>
            <tr>
                <th>Identifiant</th>
                <th>Nom</th>
                <th>Prénoms</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Sexe</th>
                <th>Site</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for adherent in adherents %}
                <tr>
                    <td>{{ adherent.identifiant }}</td>
                    <td>{{ adherent.nom }}</td>
                    <td>{{ adherent.prenom }}</td>
                    <td>{{ adherent.email }}</td>
                    <td>{{ adherent.telephone }}</td>
                    <td>{{ adherent.sexe }}</td>
                    <td>{{ adherent.site }}</td>
                    <td>
                        <a class="btn btn-secondary me-2" href="{{ path('app_adherent_show', {'id': adherent.id}) }}">
                            <i class="fa-solid fa-eye"></i>
                            voir plus
                        </a>
                        <a class="btn btn-warning" href="{{ path('app_adherent_edit', {'id': adherent.id}) }}">
                            <i class="fa-solid fa-edit"></i>
                            modifier
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {# display navigation #}
        <div class="pagination">
            {{ knp_pagination_render(adherents) }}
        </div>

    </div>
{% endblock %}
