{% extends 'base.html.twig' %}

{% block title %}
    Détail d'une assistance
{% endblock %}

{% block body %}

    {% set genre = assistance.adherent.sexe == 'FEMME' ? 'Madame' : 'Monsieur' %}

    <div class="container">

        {# Logo et Boutons #}
        <div class="d-flex justify-content-between align-items-center mb-4">

            <div class="logo">
                <img class="mb-3" src="{{ absolute_url(asset('images/home/logo-1.png')) }}" alt="Logo">
            </div>

            <div class="d-flex">
                <a class="btn btn-info me-3" href="{{ path('app_assistance_index') }}">
                    <i class="fa-solid fa-rotate-left"></i>
                    retour à la liste
                </a>
                <a class="btn btn-warning me-3" href="{{ path('app_assistance_edit', {'id': assistance.id}) }}">
                    <i class="fa-solid fa-edit"></i>
                    modifier
                </a>
                {{ include('assistance/_delete_form.html.twig') }}
            </div>

        </div>

        {# Titre #}
        <h1 class="recu-title text-center text-uppercase fw-bold mb-3">
            Détail d'une assistance
        </h1>

        {# Message sur la cotisation #}
        <div class="text-center mt-3 mb-3">

            <p>
                Le <strong>{{ assistance.dateAssistance|format_date("full", pattern = "MMMM Y", locale = 'fr') }} </strong> {{ genre }}
                <strong>{{ assistance.adherent.nom }} {{ assistance.adherent.prenom }}</strong> a été assisté par la caisse de solidarité
                de l'Institut Pasteur de Côte d'Ivoire pour le motif de <strong>({{ assistance.evenement }})</strong>.
                L'assistance a été enregistrée par <strong>aaaaaaa bbbbbbbbbb</strong> le
                <strong>2023-11-31</strong>.
            </p>

            <p>
                Le montant de l'assistance est évalué à <strong>{{ assistance.evenement.montantEvent }} FCFA</strong>.
            </p>

        </div>

        {# Date et Cachet #}
        <div class="text-center mb-4">
            <span class="mx-5">Fait le {{ assistance.dateAssistance|format_datetime('full', 'none', locale='fr') }}</span>
            <img class="img-fluid mx-5" src="{{ absolute_url(asset('pdf/cotisations/cachet.png')) }}" alt="cachet" height="150" width="150">
        </div>

        {# Information caisse et adhérent #}
        <div class="d-flex justify-content-around">

            <div class="">

                <p class="">
                    <i>Information du prestataire de service</i><br/>
                    <strong>Nom et Prénoms</strong> : Madame aaaaaa bbbbbbb<br/>
                    <strong>Site</strong> : Adiopodoumé<br/>
                    <strong>Téléphone</strong> : (+225) 0102030405<br/>
                    <strong>Email</strong> : test@mail.com
                </p>

            </div>

            <div class="">

                <p class="">
                    <i>Information sur l'adhérent</i><br/>
                    <strong>Nom et Prénoms</strong> : {{ assistance.adherent.nom }} {{ assistance.adherent.prenom }}<br/>
                    <strong>Site</strong> : {{ assistance.adherent.site }}<br/>
                    <strong>Téléphone</strong> : (+225) {{ assistance.adherent.telephone }}<br/>
                    <strong>Email</strong> : {{ assistance.adherent.email }}
                </p>

            </div>

        </div>

        {# Bouton exporter en pdf #}
{#        <div class="text-center mt-5">#}
{#            <a class="btn btn-success" href="{{ path('app_cotisation_paiement_pdf', {'id': cotisation.id}) }}" target="_blank">#}
{#                <i class="fa-solid fa-file-pdf"></i>#}
{#                Exporter en PDF#}
{#            </a>#}
{#        </div>#}

    </div>

{% endblock %}