{# templates/admin/my-custom-page.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}<h1 class="text-uppercase">Dashboard</h1>{% endblock %}
{#{% block page_actions %}
    <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %}#}

{% block main %}

    {% set somme_assistance = 0 %}

    <h1 class="text-center text-uppercase">Bienvenue sur le tableau de bord</h1>
    <div class="alert alert-success">{{ nb_adherents }}</div>
    <div class="alert alert-success">{{ nb_homme }} Homme </div>
    <div class="alert alert-success">{{ nb_femme }} Femmes</div>
    <div class="alert alert-success">{{ adh_fonction }}</div>
    <div class="alert alert-success">{{ adh_depart }}</div>
    <div class="alert alert-success">{{ adh_deces }}</div>
    <div class="alert alert-success">
        {% for assistance in total_assistance %}
            {% set somme_assistance = somme_assistance + assistance.evenement.MontantEvent %}
        {% endfor %}
        {{ somme_assistance }}
    </div>
{% endblock %}