{# templates/admin/my-custom-page.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

    {% set somme_assistance = 0 %}
    {% set somme_assistance_mois = 0 %}
    {% set somme_autre_assistance = 0 %}
    {% set somme_autre_depense_mois = 0 %}
    {% set somme_don = 0 %}
    {% set somme_cotisation = 0 %}
    {% set somme_net = 0 %}
    {% set recette = 0 %}
    {% set depense = 0 %}
    {% set somme_adhesion = nb_adherents * 3000 %}

    {% for assistance in total_assistance %}
        {% set somme_assistance = somme_assistance + assistance.evenement.MontantEvent %}
    {% endfor %}

    {% for autre_assistance in total_autre_depense %}
        {% set somme_autre_assistance = somme_autre_assistance + autre_assistance.montant %}
    {% endfor %}

    {% for don in total_don %}
        {% set somme_don = somme_don + don.MontantDon %}
    {% endfor %}

    {% for cotisation in total_cotisation %}
        {% set somme_cotisation = somme_cotisation + cotisation.MontantCotisation %}
    {% endfor %}

    {% for assistance in total_assistance_mois %}
        {% set somme_assistance_mois = somme_assistance_mois + assistance.evenement.MontantEvent %}
    {% endfor %}

    {% for autre_assistance in total_autre_depense_mois %}
        {% set somme_autre_depense_mois = somme_autre_depense_mois + autre_assistance.montant %}
    {% endfor %}

    {% set recette = somme_cotisation + somme_don + somme_adhesion %}
    {% set depense = somme_assistance + somme_autre_assistance %}
    {% set somme_net = recette - depense %}

{% block content_title %}

    <div class="d-flex justify-content-between">
        <h1 class="text-uppercase">Tableau de bord</h1>
        <h1>{{ somme_net }} FCFA</h1>
    </div>

{% endblock %}
{#{% block page_actions %}
    <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %}#}

{% block main %}

    <div class="row gy-2">
            {# partie d'adherents #}
            <div class="card text-bg-success col-6 ">
                <div class="card-header text-bold ">
                   ADHERENTS
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-2">
                        <h5>Nombre total des adherents</h5>
                        <span class="badge badge-primary">{{ nb_adherents }}</span>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <h5>Nombre total des adhérents de cette année</h5>
                        <span class="badge badge-primary">{{ nb_adherent_an }}</span>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <h5>Nombre total des hommes</h5>
                        <span class="badge badge-primary">{{ nb_homme }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h5>Nombre total des femmes</h5>
                        <span class="badge badge-primary">{{ nb_femme }}</span>
                    </div>
                </div>
            </div>

            {# partie du statut #}
            <div class="card text-bg-primary col-6 ">
                <div class="card-header text-bold ">
                   STATUT DES ADHERENTS
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-2">
                        <h5>Total des adherents en fonction</h5>
                        <span class="badge badge-primary">{{ adh_fonction }}</span>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <h5>Total des adherents partis</h5>
                        <span class="badge badge-primary">{{ adh_depart }}</span>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <h5>Total des adherents décédés</h5>
                        <span class="badge badge-primary">{{ adh_deces }}</span>
                    </div>
                </div>
            </div>

            {# partie de la recette #}
            <div class="card text-bg-secondary col-6 ">
                <div class="card-header text-bold ">
                   RECETTES
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-2">
                        <h5>Montant Total des adhesions</h5>
                        <span class="badge badge-primary">{{somme_adhesion }} FCFA</span>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <h5>Montant total des dons</h5>
                        <span class="badge badge-primary">{{ somme_don }} FCFA</span>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <h5>Montant total des cotisations</h5>
                        <span class="badge badge-primary">{{ somme_cotisation }} FCFA</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h5>Total Recette</h5>
                        <span class="badge badge-primary">{{ recette }} FCFA</span>
                    </div>
                </div>
            </div>

            {# partie des depenses #}
            <div class="card text-bg-warning col-6">
                <div class="card-header text-bold ">
                   DEPENSES
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-2">
                        <h5>Somme total des depenses</h5>
                        <span class="badge badge-primary">{{ somme_assistance + somme_autre_assistance }} FCFA</span>
                    </div>
                     <div class="d-flex justify-content-between">
                        <h5>Montant des assistances pour ce mois</h5>
                        <span class="badge badge-primary">{{ somme_assistance_mois + somme_autre_depense_mois }} FCFA</span>
                    </div>
                </div>
            </div>
    </div>



{% endblock %}