<aside class="w-auto">

    <img class="img-fluid" src="{{ asset('images/home/logo-1.png') }}" alt="" srcset="">

    <nav class="sidebar border-right p-0 mx-0" style="height: 100vh" id="swup">

        <div class="d-flex flex-column flex-shrink-0 p-3">

            <ul class="nav nav-pills flex-column mb-auto mt-4">
                <li class="nav-item mb-1">
                    <a href="{{ path('app_home') }}" class="nav-link fw-bold {% if app.request.attributes.get('_route') == 'app_home' %} active {% endif %}">
                        <i class="fa-solid fa-gauge fa-xl me-2"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a href="{{ path('app_adherent_index') }}" class="nav-link fw-bold {% if 'app_adherent_' in app.request.attributes.get('_route') %} active {% endif %}">
                        <i class="fa-solid fa-users fa-xl me-2"></i>
                        Adhérents
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a href="{{ path('app_droit_adhesion_index') }}" class="nav-link fw-bold {% if 'app_droit_adhesion_' in app.request.attributes.get('_route') %} active {% endif %}">
                        <i class="fa-solid fa-user-check fa-xl me-2"></i>
                        Adhesion
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a href="{{ path('app_cotisation_index') }}" class="nav-link fw-bold {% if 'app_cotisation_' in app.request.attributes.get('_route') %} active {% endif %}">
                        <i class="fa-solid fa-circle-dollar-to-slot fa-xl me-2"></i>
                        Cotisation
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a href="{{ path('app_assistance_index') }}" class="nav-link fw-bold {% if 'app_assistance_' in app.request.attributes.get('_route') %} active {% endif %}">
                        <i class="fa-regular fa-credit-card fa-xl me-2"></i>
                        Assistance
                    </a>
                </li>
            </ul>
        </div>

    </nav>
</aside>